dash==1.19.0
dash-core-components==1.16.1
dash-html-components==1.1.4
Werkzeug==1.0.1
backports.shutil-get-terminal-size==1.0.0
sphinxcontrib-serializinghtml==1.1.4
keras-nightly==2.5.0.dev2021032900
dash-bootstrap-components==1.4.1
sphinxcontrib-applehelp==1.0.2
tensorboard-data-server==0.6.1
sphinxcontrib-htmlhelp==1.0.3
tensorboard-plugin-wit==1.8.0
backports.weakref==1.0.post1
sphinxcontrib-devhelp==1.0.2
google-auth-oauthlib==0.4.4
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
tensorflow-estimator==2.5.0
Keras-Preprocessing==1.1.2
charset-normalizer==2.1.1
widgetsnbextension==3.5.1
contextlib2==0.6.0.post1
lazy-object-proxy==1.4.3
pandas-datareader==0.9.0
prometheus-client==0.8.0
requests-oauthlib==1.3.0
sortedcollections==1.2.1
typing_extensions==4.5.0
webdriver-manager==3.4.2
win-unicode-console==0.5
backports.tempfile==1.0
ipython_genutils==0.2.0
multipledispatch==0.6.0
requests-futures==1.0.1
sortedcontainers==2.2.2
finnhub-python==2.4.15
